<<<<<<< HEAD
body { font-family: Arial, sans-serif; margin: 20px; }
h1 { color: darkblue; }
a { margin-right: 10px; }
=======
body { font-family: Arial; background: #f4f4f9; margin: 20px;} h1, h2 {color: #333;}
>>>>>>> 12a4e9b (Ajustes no projeto Minipedia)
