
{% extends 'base.html' %}
{% block content %}
<h2>Adicionar Miniatura</h2>
<form method="POST" class="card">
    <label>Nome:</label><input type="text" name="nome" required><br>
    <label>Marca:</label><input type="text" name="marca" required><br>
    <label>Cor:</label><input type="text" name="cor" required><br>
    <label>Ano:</label><input type="number" name="ano" required><br>
    <label>Tipo:</label><input type="text" name="tipo" required><br>
    <label>Lote:</label><input type="text" name="lote"><br>
    <label>Escala:</label><input type="text" name="escala"><br>
    <label>URL da Foto:</label><input type="url" name="foto_url"><br>
    <button type="submit">Salvar</button>
</form>
{% endblock %}
