{% extends 'base.html' %}
{% block content %}
<h2>Adicionar Miniatura</h2>
<form method="post">
  <input class="form-control mb-2" name="nome" placeholder="Nome" required>
  <input class="form-control mb-2" name="marca" placeholder="Marca">
  <input class="form-control mb-2" name="cor" placeholder="Cor">
  <input class="form-control mb-2" name="ano" placeholder="Ano">
  <input class="form-control mb-2" name="tipo" placeholder="Tipo">
  <input class="form-control mb-2" name="lote" placeholder="Lote">
  <input class="form-control mb-2" name="escala" placeholder="Escala">
  <input class="form-control mb-2" name="url_foto" placeholder="URL da Foto">
  <button class="btn btn-success">Salvar</button>
</form>
{% endblock %}
