{% extends 'base.html' %}
{% block content %}
  <h2>Adicionar Miniatura</h2>
  <form method="POST">
    Nome: <input type="text" name="nome"><br>
    Marca: <input type="text" name="marca"><br>
    Cor: <input type="text" name="cor"><br>
    Ano: <input type="text" name="ano"><br>
    Tipo: <input type="text" name="tipo"><br>
    Lote: <input type="text" name="lote"><br>
    Escala: <input type="text" name="escala"><br>
    Foto URL: <input type="text" name="foto_url"><br>
    <button type="submit">Adicionar</button>
  </form>
{% endblock %}