<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Minipedia</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Início</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Sair</a>
            {% if current_user.role == 'admin' %}
                <a href="{{ url_for('adicionar') }}">Adicionar</a>
            {% endif %}
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Registrar</a>
        {% endif %}
    </nav>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for msg in messages %}
          <li>{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>