
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minipedia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><i class="fas fa-car"></i> Minipedia</div>
        <div>
            <a href="{{ url_for('index') }}"><i class="fas fa-home"></i> Início</a>
            <a href="{{ url_for('add') }}"><i class="fas fa-plus-circle"></i> Adicionar</a>
            <a href="{{ url_for('colecao') }}"><i class="fas fa-box"></i> Coleção</a>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Sair</a>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
