{% extends "base.html" %}

{% block content %}
<h2>Minha Coleção</h2>
<div class="row">
    {% for car in cars %}
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ car.brand }} - {{ car.model }}</h5>
                    <p class="card-text">Ano: {{ car.year }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <p>Nenhum carro na coleção ainda.</p>
    {% endfor %}
</div>
{% endblock %}