
{% extends 'base.html' %}
{% block content %}
  <h2>Editar miniatura #{{ mini.id }}</h2>
  <form method="post" class="form">
    <label>Nome <input type="text" name="nome" value="{{ mini.nome }}" required></label>
    <label>Marca <input type="text" name="marca" value="{{ mini.marca }}" required></label>
    <label>Ano <input type="text" name="ano" value="{{ mini.ano }}" maxlength="4" required></label>
    <label>Escala <input type="text" name="escala" value="{{ mini.escala }}" required></label>
    <button type="submit">Atualizar</button>
  </form>
{% endblock %}
