{% extends 'base.html' %}
{% block content %}
<h2>Miniaturas Cadastradas</h2>
<a href="{{ url_for('add_miniatura') }}">Adicionar Miniatura</a>
<ul>
{% for mini in miniaturas %}
    <li>
        {{ mini.nome }} - {{ mini.marca }} ({{ mini.escala }})
        {% if mini.url_foto %}
        <br><img src="{{ mini.url_foto }}" width="100">
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('add_to_colecao', miniatura_id=mini.id) }}">Adicionar à coleção</a>
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}
